<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta property="og:description" content="Directorio de Empresas del   Centro de Innovación de Ciudad del Saber.">
    <meta property="og:image" content="https://i2.wp.com/ciudaddelsaber.org/wp-content/uploads/2020/03/0E8A0151-Edit-e1545147717320.jpg?fit=1200%2C800&amp;ssl=1">
    <meta property="og:image:width" content="1200">
    <meta property="ogimage:height" content="800">
    <script src="//cdn.plugdo.com/js/plugdo-dependency.min.js"></script>
    <script src="//cdn.plugdo.com/release/2.7/plugdoeui.min.js"></script>
    <script src="/app/app.js"></script>
</head>