<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directorio de Miembros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//cdn.plugdo.com/js/plugdo-dependency.min.js"></script>
    <script src="//cdn.plugdo.com/js/plugdoeui.latest.min.js"></script>
    <style>
    
        .container {
            margin-top: 25px;
        }

        .bottom-marging {
            margin-bottom: 0 !important;
        }

        .b-line-title {
            border-bottom: 3px solid #2E5B9E;
        }

        .b-line-title-small {
            border-bottom: 3px solid #2E5B9E;
            display: none !important;
        }

        .b-line-search {
            border-bottom: 3px solid #2E5B9E;
        }

        .divisor {
            margin: 5px;
        }

        .btn {
            border-radius: 0;
        }

        .input-sm {
            border: 0;
            padding: .21rem .4rem;
            background-color: #148c9f;
            color: #FFF !important;
            border-radius: 0;
            margin: 0 0 0 0;
        }

        plugdo-miembro {
            display: none !important;
        }

        .mobile-header {
            display: none !important;
            background-color: #2E5B9E;
            color: #FFF;
            font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 1.5em;
            font-weight: 500 !important;
        }

        @media only screen and (max-width: 600px) {
            .container {
                margin-top: 0 !important;
            }

            .mobile-header {
                display: block !important;
            }

            .mobile-header div {
                height: 50px;
                margin-bottom: 10px;
                text-align: center;
                vertical-align: middle !important;
                padding-top: 8px !important;
            }

            .pagination-row {
                display: none !important;
            }

            .b-line-title-small {
                display: block !important;
            }

            .b-line-title-small h3 span {
                font-size: 18px;
            }

            .b-line-title {
                border-bottom: 0;
                display: none !important;
            }

            .b-line-search {
                margin-top: 10px !important;
                border-bottom: 0;
            }
        }

        .col-centered {
            display:inline-block;
            float:none;
            /* reset the text-align */
            text-align:left;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row mobile-header">
            <div class="col-sm-10">
                Centro de Innovación
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-7 b-line-title-small">
                <h3>Directorio <span>de Miembros</span></h3>
            </div>
            <div class="col-sm-10 col-md-7 b-line-title">
                <h1>Directorio</h1>
            </div>
            <div class="col-sm-10 col-md-5 b-line-search">
                <div class="input-group">
                    <input id="searchText" type="text" class="form-control" placeholder="Buscar en el Directorio" aria-label="Buscar" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div class="row divisor"></div>
        <div class="row pagination-row">
                <nav class="col-12"> 
                    <ul class="pagination justify-content-center"> 
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">Todos</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">A</a></li> 
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">B</a></li> 
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">C</a></li> 
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">D</a></li> 
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">E</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">F</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">G</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">H</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">I</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">J</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">K</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">L</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">M</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">N</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">O</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">P</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">Q</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">R</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">S</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">T</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">U</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">V</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">W</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">X</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">Y</a></li>
                        <li class="page-item"><a href="#" class="btn btn-info btn-md">Z</a></li>
                    </ul> 
                </nav>
        </div>
        <div class="row">
            <plugdo-miembro name="miembros" src="/component/miembro.html"></plugdo-miembro>
        </div>

    </div>

    <script src="/js/app-directorio.js"></script>
    <script>
        let { template, global, view, select } = plugdo;
        var globalData = "";
        appDir.init();
    </script>

</body>
</html>
