<plugdo-miembro>
    <data>
        {
        "class": "row",
        "miembros": []
        }
    </data>
    <template>
        <label for="" style="display:none">[json:class]</label>
        <template-perfil class="row" model="miembros"></template-perfil>
    </template>
    <template-perfil>
        <div class="col-sm-6 col-md-6 miembro card-custom">
            <h5>[json:name]</h5>
            <span class="miembro-description">[json:description]</span> <br>
            <span class="miembro-tipo"><strong>T:</strong></span> <span class="miembro-detalles">[json:phone]</span>
            <br>
            <span class="miembro-tipo"><strong>E:</strong></span> <span class="miembro-detalles">[json:email]</span>
            <br>
            <span class="miembro-tipo"><strong>W:</strong></span> <a class="miembro-detalles"  target="_blank" href="[json:web]"> Ir al sitio</a> <br>
            <span class="miembro-tipo"><strong>D:</strong></span> <span class="miembro-detalles">[json:address]</span>
        </div>
    </template-perfil>
    <script>
        $(document).ready(function () {
            $("#miembros").addClass("col-12");
            $("#template-perfil").addClass("row footer-division ");
        });

    </script>
    <style>
        .footer-division {
            margin-bottom: 50px !important;
        }

        .miembro span.miembro-description {
            color: #2E5B9E;
        }

        .miembro span.miembro-tipo {
            width: 100px !important;
            word-break: break-all;
        }
        .miembro span.miembro-detalles {
            word-break: break-all;
        }

        .miembro span {
            margin-right: 10px;
        }

        .card-custom {
            border-radius: .28571429rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 5px;
            padding: 20px !important;
            min-width: 32% !important;
            max-width: 32% !important;
        }

        strong {
            margin-right: 15px;
        }

        @media only screen and (max-width: 600px) {
            .card-custom {
                min-width: 97% !important;
                max-width: 97% !important;
            }
        }
    </style>
</plugdo-miembro>