<plugdo-miembro>
    <data>
        {
            "class": "row",
            "miembros": []
        }
    </data>
    <template>
        <!--<div class="[json:css] container">
            <nav> 
                <ul class="pagination"> 
                    <li><a href="#" class="btn btn-info btn-sm">Todos</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">A</a></li> 
                    <li><a href="#" class="btn btn-info btn-sm">B</a></li> 
                    <li><a href="#" class="btn btn-info btn-sm">C</a></li> 
                    <li><a href="#" class="btn btn-info btn-sm">D</a></li> 
                    <li><a href="#" class="btn btn-info btn-sm">E</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">F</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">G</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">H</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">I</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">J</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">K</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">L</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">M</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">N</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">O</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">P</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">Q</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">R</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">S</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">T</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">U</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">V</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">W</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">X</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">Y</a></li>
                    <li><a href="#" class="btn btn-info btn-sm">Z</a></li>
                </ul> 
            </nav>
        </div>-->
        <template-perfil model="miembros"></template-perfil>
    </template>
    <template-perfil>
        <div class="col-sm-3 miembro card-custom">
            <h5>[json:name]</h5>
            <span class="miembro-description">[json:description]</span> <br/>
            <span class="miembro-tipo"><strong>T:</strong></span> <span class="miembro-detalles">[json:phone]</span> <br/>
            <span class="miembro-tipo"><strong>E:</strong></span> <span class="miembro-detalles">[json:email]</span> <br/>
            <span class="miembro-tipo"><strong>W:</strong></span> <span class="miembro-detalles">[json:web]</span> <br/>
            <span class="miembro-tipo"><strong>D:</strong></span> <span class="miembro-detalles">[json:address]</span>
        </div>
    </template-perfil>
    <scripts>
        $(document).ready(function () {
            $("#template-perfil").addClass("row footer-division");
        });
    </scripts>
    <styles>
        .footer-division {
            margin-bottom: 50px !important;
        }

        .miembro span.miembro-description {
            color: #2E5B9E;
        }

        #miembros {
            display: flex;
        }

        .miembro span.miembro-tipo {
            width: 100px !important;
        }
        
        .miembro span {
            margin-right: 10px;
        }

        .card-custom {
            border-radius: .28571429rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 5px;
            padding: 20px !important;
            min-width: 32% !important;
            max-width: 32% !important;
        }

        strong {
            margin-right: 15px;
        }
    </styles>
</plugdo-miembro>